.color-nav{
    background-color: #E14D2A;
    height: 90px;
}
.logo{
    width: 100px;
    height: 75px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #E14D2A;
    bottom: 0;
    left: 0;
    margin-top: "-100%";
    width: 100%;
  }