.Main{
    position: relative;
    display:grid;
    grid-gap:20px;
    grid-template-columns: 2fr 1fr;
    height: 80%;
    width: 95%;
    margin: 2%;
    grid-template: "TicketInfo TicketInfo  TicketInfo PriceDetail "
                    "category1  category2   category3 PriceDetail ";
                   
}
.TicketInfo{
    position: static;
    grid-area: TicketInfo;

   grid-template:"Title Title Title"
    "Dateloc Dateloc Dateloc"
                    "info1 info1 flags";
   place-content: left;
    display:grid;
    background: #FD841F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}
.PriceDetail{
    position: static;
    grid-area: PriceDetail;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 600px;
    background: #B9B9B9;
    border-radius: 32px;
}
.category1{
    position: static;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    grid-area: category1;
    background: #B9B9B9;
    border-radius: 20px; 
}
.category2{
    position: static;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    grid-area: category2;
    background: #B9B9B9;
    border-radius: 20px; 
}
.category3{
    position: static;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    grid-area: category3;
    background: #B9B9B9;
    border-radius: 20px; 
}
.Title{
    text-align: left;
    margin-left: 5px;
    grid-area: Title;
}

// The Quantity Input
.QuantitySection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 30px;
}
.addQuantity{
    width: 50px;
    height: 50px;
    

    
    background: #77D970;
    border-radius: 100px;
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    color: #fff;
    border: #fff;

}
.quantity{
    
    width: 100px;
    height: 50px;
    
    background: #77D970;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}


.DateLoc{
    display: flex;
    grid-area: Dateloc;
    font-weight: 70;
    font-size: 20px;
    margin-left: 10px;




/* identical to box height */

color: rgba(0, 0, 0, 0.9);
}

.info{
    display: flex;
    flex-direction: column;
    grid-area: info1;
    margin-left: 10px;
    align-items: left;
    grid-gap: 10px;
  
    font-weight: 70;
    font-size: 20px;
    
    /* identical to box height */
    text-align: left;
    
    color: rgba(0, 0, 0, 0.9);
}
.flags{
    grid-area: flags;
    display: grid;
    grid-template:"Flag1 VS Flag2"
                 "Lable1 VS Lable2";
    place-items: center;
    width:30%;
    grid-gap: 30px;
    
}
    .Label1
    {
        grid-area: Lable1;
        font-weight: 70;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.9);
    }
    .Label2
    {
        grid-area: Lable2;
        font-weight: 70;
        font-size: 20px;

        color: rgba(0, 0, 0, 0.9);
    }
    .Flag1{

        width: 125px;
        height: 75px;
        grid-area: Flag1;
    }
    .Flag2{
        grid-area: Flag2;
        width: 125px;
        height: 75px;
    }

.loc{
    display: flex;
    flex-direction: column;
    grid-area: loc;
    margin-left: 10px;
    align-items: left;
    grid-gap: 10px;
    font-weight: 70;
    font-size: 20px;
    
    /* identical to box height */
    text-align: right;
    margin-left: 30%;

    color: rgba(0, 0, 0, 0.9);
}
.PayButton{
    bottom: 0;
    width: 200px;
    height: 50px;
    background: #77D970;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: #fff;
    margin: 10px;
}

.Pay{
    margin-top: 100px;
}

