@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');




.container {
  height: 100vh;
  width: 100vw;
}

.flip-card-outer {
  width: 100%;
  height: 200px;
  margin: 25px 0;
  padding: 20px;

 
  



  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

  

    &.showBack {

      transform: rotateY(180deg);

    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      &.front {
        transform: rotateY(0);
        background-color: #2d2d2d;
        color: #fff;
        border-radius: 30px;

      }
  
      &.back {
        transform: rotateY(180deg);
        background-color: #FD841F;
        color: #2d2d2d;
        border-radius: 30px;
   

      }
      
    }
  }
}